.cli-window {
  width: 100%;
  height: 100%;
  padding-bottom: 10rem;
  background: linear-gradient(180deg, #020617, #0f172a);

  div[name="react-console-emulator"] {
    background: linear-gradient(180deg, #020617, #0f172a) !important;
    //   color: #e5e7eb;
  }
  * {
    font-family: "Source Code Pro", monospace;
  }
}
