.github-page {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 2rem;
  margin: auto;

  button {
    padding: 6px 16px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.6rem;
    border-radius: 6px;
    background-color: #ffc600;
    border: none;
    box-shadow: 0px 0px 20px 0px #ffc600;
    transition: all ease 0.3s;
    margin-bottom: 2rem;

    &:active {
      scale: 0.95;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 0.75rem;
    }
  }
}

.video-box {
  width: 100%;
  margin-bottom: 10rem;
  box-shadow: 0px 0px 10px #ffc600;
  border-radius: 1rem;
  overflow: hidden;

  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
