.cards {
  overflow: auto;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 10rem;
  padding-top: 2rem;

  $color-bg: #000000;
  $color-accent: #ffc600;
  $color-text: #ffffff;
  $color-text-dim: #cccccc;
  $border-style: 1px solid #333333;

  .card {
    background-color: $color-bg;
    color: $color-text;
    border: $border-style;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    max-width: 270px;
    max-height: 550px;
    font-family: "Inter", sans-serif;

    img {
      width: 100%;
      height: 35%;
      border-radius: 0;
      margin-bottom: 1.5rem;
    }

    h2 {
      color: $color-text;
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 1.15;
      margin-bottom: 0.7rem;
      text-transform: capitalize;
      // font-style: italic;
    }

    p {
      color: $color-text-dim;
      font-size: 0.75rem;
      line-height: 1.4;
      margin-bottom: 1.5rem;
      font-family:
        "Courier New", Courier, monospace; // Syntax uses mono for descriptions
    }

    .tags {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      margin-bottom: 2rem;

      .tag {
        color: $color-accent;
        font-size: 0.7rem;
        line-height: 1;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
      }
    }

    .links {
      display: flex;
      gap: 1rem;

      a {
        background-color: $color-accent;
        color: $color-bg;
        padding: 8px 16px;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.6rem;
        border-radius: 0; // Sharp corners for buttons
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.github-page {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 2rem;
  margin: auto;

  button {
    padding: 6px 16px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.6rem;
    border-radius: 6px;
    background-color: #ffc600;
    border: none;
    box-shadow: 0px 0px 20px 0px #ffc600;
    transition: all ease 0.3s;
    margin-bottom: 2rem;

    &:active {
      scale: 0.95;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 0.75rem;
    }
  }
}

.video-box {
  width: 100%;
  margin-bottom: 10rem;
  box-shadow: 0px 0px 10px #ffc600;
  border-radius: 1rem;
  overflow: hidden;

  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
