.note-window {
  padding: 1rem;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 10rem;
  font-size: .9rem;
  
  pre {
    background-color: transparent !important;
  }
  *{
    font-family: "Source Code Pro", monospace !important;
  }
}
