.note-window {
  padding: 1rem;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 10rem;
  // color: rgba(255, 255, 255, 0.648);
  
  font-size: .9rem;
  
  pre {
    background-color: transparent !important;
  }
}
