#dock {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.235);
  display: flex;
  align-items: center;
  padding-inline: 0.8rem;
  padding-block: 0.4rem;
  backdrop-filter: blur(10px);
  gap: 0.3rem;

  .icon {
    height: 45px;
    cursor: pointer;
    transition: all 0.25s linear;
    &:hover {
      scale: 1.35;
      transform: translateY(-11%);
    }
    &:hover + * {
      scale: 1.1;
      transform: translateY(-5%);
    }
    &:has(+ *:hover) {
      scale: 1.1;
      transform: translateY(-5%);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
 
}
