nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0.226);
  backdrop-filter: blur(20px);
  color: white;
  font-size: 0.75rem;

  .left {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    .nav-items {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      cursor: pointer;
      list-style: none;
      line-height: none;
    }
  }
  .right {
    display: flex;
    align-items: center;
    line-height: none;
    gap: 0.8rem;
  }
}
